<ng-container *ngIf="product">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex flex-column">
      <h1>{{ product.name }}</h1>
    </div>
    <div class="flex align-items-center">
      <p-button icon="pi pi-file-edit" styleClass="p-button-outlined mr-2" [routerLink]="['/product', product.id, 'edit']"></p-button>
      <p-button icon="pi pi-trash" styleClass="p-button-outlined p-button-danger" (click)="confirmDelete($event)"></p-button>
      <p-confirmPopup></p-confirmPopup>
    </div>
  </div>
  <h3 class="mt-0">Details</h3>
  <app-p-description-list [data]="productDl"></app-p-description-list>
  <p-divider></p-divider>
  <h3>Merchant</h3>
  <app-p-description-list [data]="merchantDl"></app-p-description-list>
</ng-container>
