<h4 *ngIf="data.title">{{ data.title }}</h4>
<ul class="list-none m-0 p-0">
  <li class="flex flex-wrap my-2" *ngFor="let item of data.items">
    <span class="text-800 w-4 md:w-2">{{ item.name }}</span>
    <span>
      <ng-container *ngIf="item.link">
        <a class="no-underline" [href]="item.link" target="_blank">{{ item.value || "-" }}</a>
      </ng-container>
      <ng-container *ngIf="item.routerLink">
        <a class="no-underline" [routerLink]="item.routerLink">{{ item.value || "-" }}</a>
      </ng-container>
      <ng-container *ngIf="!item.link && !item.routerLink">
        {{ item.value || "-" }}
      </ng-container>
    </span>
  </li>
</ul>
