<div class="flex justify-content-between flex-wrap">
  <div class="flex align-items-center">
    <h1>Products</h1>
  </div>
  <div class="flex align-items-center">
    <p-button icon="pi pi-plus" styleClass="p-button-outlined p-button-success" [routerLink]="['/product/new']"></p-button>
  </div>
</div>
<ng-container *ngIf="products">
  <p-table
    #table
    [value]="products"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad(table, $event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem' }"
    [selection]="selectedProduct"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [loading]="loading"
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="identifier">Identifier <p-sortIcon field="identifier"></p-sortIcon></th>
        <th>Image</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="productCategory">Category <p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="unitPrice">Unit Price <p-sortIcon field="unitPrice"></p-sortIcon></th>
        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
        <th pSortableColumn="isActive">Active <p-sortIcon field="isActive"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{ product.identifier }}</td>
        <td>image</td>
        <td>{{ product.name }}</td>
        <td><p-chip [style]="{ 'background-color': product.productCategory.colour }">{{ product.productCategory.name }}</p-chip></td>
        <td>{{ product.unitPrice | currency }}</td>
        <td>{{ product.quantity | number }}</td>
        <td>{{ product.isActive }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
