<div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center">
        <h1>Product Categories</h1>
    </div>
    <div class="flex align-items-center">
        <p-button icon="pi pi-plus" styleClass="p-button-outlined p-button-success" [routerLink]="['/product-category/new']"></p-button>
    </div>
</div>
<ng-container *ngIf="productCategories">
    <p-table
        #table
        [value]="productCategories"
        [lazy]="true"
        (onLazyLoad)="onLazyLoad(table, $event)"
        dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }"
        [selection]="selectedProductCategory"
        (onRowSelect)="onRowSelect($event)"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10, 25, 50]"
        selectionMode="single"
        [loading]="loading"
        [globalFilterFields]="['name']"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="merchant">Merchant <p-sortIcon field="merchant"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="colour">Colour <p-sortIcon field="colour"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productCategory>
            <tr [pSelectableRow]="productCategory">
                <td>{{ productCategory.merchant.name }}</td>
                <td>{{ productCategory.name }}</td>
                <td><p-chip [style]="{ 'background-color': productCategory.colour }">{{ productCategory.colour }}</p-chip></td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>
