<div class="flex justify-content-between flex-wrap">
  <div class="flex align-items-center">
    <h1>Merchants</h1>
  </div>
  <div class="flex align-items-center">
    <p-button icon="pi pi-plus" styleClass="p-button-outlined p-button-success"
              [routerLink]="['/merchant/new']"></p-button>
  </div>
</div>
<ng-container *ngIf="merchants">
  <p-table
    #table
    [value]="merchants"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad(table, $event)"
    dataKey="id"
    [tableStyle]="{ 'min-width': '75rem' }"
    [selection]="selectedMerchant"
    (onRowSelect)="onRowSelect($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [loading]="loading"
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="identifier">Identifier
          <p-sortIcon field="identifier"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Name
          <p-sortIcon field="name"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-merchant>
      <tr [pSelectableRow]="merchant">
        <td>{{ merchant.identifier }}</td>
        <td>{{ merchant.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
