<ng-container *ngIf="merchant">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex flex-column">
      <h1>{{ merchant.name }}</h1>
    </div>
    <div class="flex align-items-center">
      <p-button icon="pi pi-file-edit" styleClass="p-button-outlined mr-2"
                [routerLink]="['/merchant', merchant.id, 'edit']"></p-button>
        <p-button icon="pi pi-trash" styleClass="p-button-outlined p-button-danger"
                  (click)="confirmDelete($event)"></p-button> <!-- TODO hide if not owner -->
        <p-confirmPopup></p-confirmPopup>
    </div>
  </div>
  <h3 class="mt-0">Details</h3>
  <div class="grid">
    <div class="col-12 md:col-6">
      <app-p-description-list [data]="merchantDl"></app-p-description-list>
    </div>
    <div class="col-12 md:col-6">
      <mgl-map *ngIf="mapboxMapCoords"
        [style]="'mapbox://styles/mapbox/streets-v12'"
        [zoom]="[15]"
        [center]="mapboxMapCoords"
      >
        <!-- TODO -->
        <mgl-control mglNavigation></mgl-control>
        <mgl-marker #marker [lngLat]="mapboxMapCoords"></mgl-marker>
        <mgl-popup [marker]="marker">{{ merchant.merchantStores[0].name }}</mgl-popup>
      </mgl-map>
    </div>
  </div>
  <ng-container *ngIf="merchant.merchantUsers">
    <p-divider></p-divider>
    <h3>Members</h3>
    <p-table [value]="merchant.merchantUsers" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Role</th>
          <th>Added on</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-merchantUser>
        <tr>
          <td>{{ merchantUser.user.id }}</td>
          <td>{{ merchantUser.user.username }}</td>
          <td>{{ merchantUser.roles | role }}</td>
          <td>{{ merchantUser.createdOn | date: "medium" }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-container *ngIf="merchant.merchantStores">
    <p-divider></p-divider>
    <h3>Stores</h3>
    <app-p-description-list *ngFor="let msDl of merchantStoreDl" [data]="msDl"></app-p-description-list>
  </ng-container>
</ng-container>
